# This file specifies patterns to be ignored by Git.

# Ignore Terraform directories and files
.terraform
.terraform/*

# Ignore Terraform state files
# terraform.tfstate
# terraform.tfstate.backup

# Ignore Terraform lock file
# .terraform.lock.hcl

# Ignore Vault variables file
vault.tfvars
